psycopg2-binary
pandas                                                                                           
requests        
httpx   
python-dotenv
google-cloud-bigquery
dbt-core             
dbt-postgres
dbt-bigquery                                                                                     
sqlfluff
openpyxl